#container{
	background-color: #1F222B;
	margin-left: 15%;
	margin-right: 15%;
	font-family: "Times New Roman", serif;
	color:#FFFFFF;
	height: 800px;
}

a{
	text-decoration:none;
}

#imgJava{
	width: 18%;
	height: 18%;
}

#imgPython{
	width: 20%;
	height: 20%;
}

#imgRuby{
	width: 40%;
	height: 40%;
}

#imgPython{
	width: 15%;
	height: 15%;
}

.menu-box{
		padding: 0.1% 0 0 0.1%;
		background-color: #2f0020;
		border-radius: 10px;
}

.menu-horiz{
background-color: #000000;
padding: 1%;
}

.menu-horiza{
background-color: #000000;
padding: 1%;
}

.menu-horiz li{
	display: inline;
	padding: 0 9% 0 9%;
}

.menu-horiza li{
	display: inline;
	padding: 0 6% 0 9.5%;
}

.menu-horiz li a{
	color: #ff00ed;
	font font-family: 'Tahoma', serif;
	font-size: 15px;
	padding: 1%;
}

.menu-horiza li a{
	color: #ff00ed;
	font font-family: 'Tahoma', serif;
	font-size: 15px;
	padding: 1%;
}

.menu-horiz li a:LINK{
	color: #ff00ed;
}

.menu-horiza li a:LINK{
	color: #ff00ed;
}

.menu-horiz li a:visited{
	color: #ff00ed;
}

.menu-horiza li a:visited{
	color: #ff00ed;
}

.menu-horiz li a:hover{
	background-color: #fa9dff;

}

.menu-horiza li a:hover{
	background-color: #fa9dff;

}

.tit-pagina{
	text-align: center;

}

.img-box{
	padding: 0 10% 0 10%;
}
