#div1{
  font-size = 2em;
  font-family: "Consolas", sans-serif;
  margin-left: 30%;
  margin-right: 30%;
}

#frm01 input, select{
  border: 2px solid #cccccc;
  border-radius: 5px;
  font-size: 1em;
  font-family: "Consolas", sans-serif;
  display: block;
}

#frm01 select:hover{
  background-color:#cccccc;
}

#frm01 input:hover{
  background-color:#cccccc;
}

#frm01 input [type=submit]{
  margin-top: 30px;
  background-color: #9c78ac;
  color: #fff;
}
